:root{
    --bk_color1: #011212;
    --bk_color2: #ff8800;
    --bd_rd: 50px;
    --wdth: 100px;
    --hght: 100px;

}
body {
    background-color: var(--bk_color1);
}

.ball {
    width: var(--wdth);
    height: var(--hght);
    background-color: var(--bk_color2);
    border-radius: var(--bd_rd);
}

